<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Music Store {%endblock%} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-body-tertiary shadow p-2 mb-5 bg-body-tertiary rounded">
        {%if session.get("user_id")%}
        <div class="container-fluid">
            <a href="{{url_for('store')}}" class="navbar-brand">Music Store</a>

            <ul class="nav justify-content-center nav-underling">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('store')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('view_cart')}}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" href="{{url_for('orders')}}">History</a>
                </li>
                {%if session.get("role")=="admin"%}
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" href="{{url_for('dashboard')}}">Dashboard</a>
                </li>
                {%endif%}
            </ul>
            {%endif%}


            <form class="d-flex" role="search">
                {% if session.get("user_id")%}
                <a href="{{url_for('logout')}}" class="btn btn-danger"> Logout</a>
                {%endif%}
            </form>
        </div>
    </nav>


    <div class="toast-container position-fixed top-0 end-0 p-3">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

        <div class="toast align-items-center text-bg-{{ 'danger' if category == 'error' else 'success' }} border-0"
            role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1000">

            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast">
                </button>
            </div>
        </div>

        {% endfor %}
        {% endwith %}

    </div>




    {% block content%}
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            toastElList.map(function (toastEl) {
                var toast = new bootstrap.Toast(toastEl)
                toast.show()
            })
        });
    </script>

    <!-- Chart.js -->
    
</body>

</html>