{% extends 'layout.html'%}

{%block title%} All Albums {%endblock%}

{%block content%}

<div class="container">
    <h3> All Albums</h3>
    <form method="get" class="d-flex justify-content-end mb-3">
    <input type="text" 
           class="form-control me-2" 
           placeholder="Search..."
           name="search"
           style="width: 200px;">
    <button class="btn btn-primary btn-sm">Search</button>
</form>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">artist</th>
                <th scope="col">copies</th>
                <th scope="col">Image</th>
                <th scope="col">amount</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for album in albums.items %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ album.title }}</td>
                <td>{{ album.artist }}</td>
                <td>{{ album.copies }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' + album.cover_image) }}"
                        style="height:70px; width: 50px;"></td>
                <td>{{ album.amount }}</td>
                <td><a href="{{url_for('update_album', album_id=album.id)}}" class="btn btn-outline-primary">Update</a>
                <td>
                    <form action="{{ url_for('delete_album', album_id=album.id) }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this album?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<nav>
    <ul class="pagination justify-content-center">

        {% if albums.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ albums.prev_num }}&search={{ search }}">Previous</a>
        </li>
        {% endif %}

        {% for p in albums.iter_pages() %}
        {% if p %}
        <li class="page-item {% if p == albums.page %}active{% endif %}">
            <a class="page-link" href="?page={{ p }}&search={{ search }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if albums.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ albums.next_num }}&search={{ search }}">Next</a>
        </li>
        {% endif %}

    </ul>
</nav>

{%endblock%}