{% extends 'layout.html'%}

{%block title%} Transaction {%endblock%}

{%block content%}

<div class="container">
    <h3> All Users</h3>
    <form method="get" class="d-flex justify-content-end mb-3">
    <input type="text" 
           class="form-control me-2" 
           placeholder="Enter id..."
           name="search"
           style="width: 200px;">
    <button class="btn btn-primary btn-sm">Search</button>
</form>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <tr>
                <th scope="col">#</th>
                <th scope="col">order id</th>
                <th scope="col">amount</th>
                <th scope="col">status</th>
                <th scope="col">Order At</th>

            </tr>

            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td><a href="{{url_for('order_detail',order_id = order.id)}}" style="text-decoration: none;">{{ order.id }}</a></td>
                <td>{{ order.total_amount }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created_at }}</td>
               
            {% endfor %}
        </tbody>
    </table>

</div>

{%endblock%}